APPLICATION_ID=SOMETHING
API_KEY=SOMETHING
INDEX_NAME=ever-teams-docs
DEBUG=docusaurus-plugin-search-local

# SENTRY
SENTRY_ORG=ever-co
SENTRY_PROJECT=ever-teams-docs
NEXT_PUBLIC_SENTRY_DNS=
NEXT_PUBLIC_SENTRY_DEBUG=false # true/false

# ALGOLIA
ALGOLIA_APP_ID=
ALGOLIA_API_KEY=
ALGOLIA_INDEX_NAME=

NODE_ENV=development
